In [14]:
import json
import requests
import pandas as pd
from pprint import pprint

In [19]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.co/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []

# Loop through each character and make API request
for character in search_characters:

    # Create search query, make request and store in json
    response = requests.get(url + character).json()
#     pprint(response)
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try :
        character_height = response["results"][0]["height"]
        print(character_height)
        character_mass = response["results"][0]["mass"]
        print(character_mass)
        height.append(character_height)
        mass.append(character_mass)
    except IndexError:
        print(f"{character} is not a Star Wars character. It does not exist.")
        height.append(None)
        mass.append(None)
        pass
    

    # Handle exceptions for a character that is not available in the Star Wars API

96
32
202
136
Godzilla is not a Star Wars character. It does not exist.
172
77
Frodo is not a Star Wars character. It does not exist.
183
78.2
Iron Man is not a Star Wars character. It does not exist.
Jon Snow is not a Star Wars character. It does not exist.
180
80

In [20]:
# Create DataFrame
df = pd.DataFrame({
    'Character': search_characters,
    'Height': height,
    'Mass': mass
})

df

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
2        Godzilla   None  None
3  Luke Skywalker    172    77
4           Frodo   None  None
5       Boba Fett    183  78.2
6        Iron Man   None  None
7        Jon Snow   None  None
8        Han Solo    180    80

In [21]:
clean_df = df.dropna(how="any")

clean_df

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
3  Luke Skywalker    172    77
5       Boba Fett    183  78.2
8        Han Solo    180    80